@charset "UTF-8";
/*COLORS*/
/*brand*/
/*information*/
/*MARGIN*/
/*PADDING*/
/*ALINEACIÓN*/
/*TRANSFORMS, TRANSITIONS AND ANIMATIONS*/
.fade-in {
  animation: fade-in;
  animation-duration: 1.5s;
}

.fade-in2 {
  animation: fade-in;
  animation-duration: 3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*LINE*/
hr {
  border: 1px solid #221F20;
}

/*TYPOGRAPHY*/
.logo {
  font-family: "Platypi", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 110%;
  color: #245441;
}

.caption {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 120%;
  font-variant: small-caps;
  color: #221F20;
  text-align: left;
}

.pieImg {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 120%;
  color: #221F20;
  text-align: left;
  margin-top: 0.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #221F20;
  text-align: left;
  margin-bottom: 0%;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 120%;
}

h4 {
  font-family: "Platypi", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 120%;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 3.25rem;
  line-height: 120%;
}

h2 {
  font-family: "Platypi", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  line-height: 110%;
  color: #221F20;
}

@media (max-width: 576px) {
  h2 {
    font-size: 3rem;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  h2 {
    font-size: 2rem;
  }
}
h1 {
  font-family: "Platypi", sans-serif;
  font-weight: 200;
  font-size: 5rem;
  line-height: 105%;
  color: #221F20;
}

@media (max-width: 576px) {
  h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    font-size: 4rem;
  }
}
.quote {
  font-family: "Platypi", sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 150%;
  color: #245441;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: #245441;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-skip-ink: ink spaces;
  text-decoration-thickness: 2px;
  text-decoration-color: #245441;
  text-underline-offset: 0.25rem;
}
a:active {
  text-decoration: underline;
  text-decoration-skip-ink: ink spaces;
  text-decoration-thickness: 6px;
  text-decoration-color: #BBD7E9;
  text-underline-offset: 0rem;
}

.aActive {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  color: #245441;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 6px;
  text-decoration-color: #BBD7E9;
  text-underline-offset: 0rem;
}

.strong {
  font-weight: 800;
}

span {
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-decoration-color: #BBD7E9;
  text-decoration-skip-ink: none;
}

/*ICONS*/
i {
  color: #245441;
}
i:hover {
  font-weight: 700;
}

/*COMPONENTS*/
/*BUTTONS*/
.buttonPrimary {
  background-color: #245441;
  color: #BBD7E9;
  border: 1px solid #245441;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.buttonPrimary:hover {
  background-color: #BBD7E9;
  color: #245441;
  border: 1px solid #245441;
}

.buttonSecondary {
  background-color: #fefefe;
  color: #245441;
  border: 1px solid #245441;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.buttonSecondary:hover {
  background-color: #F5F5F2;
  color: #221F20;
  border: 1px solid #221F20;
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #F5F5F2;
  color: #245441;
  border: 1px solid #245441;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

#backToTop:hover {
  background-color: #BBD7E9;
}

.form-control {
  background-color: #fefefe;
  border: 1px solid #245441;
  border-radius: 2px;
}

.form-control:hover {
  background-color: #F5F5F2;
  border: 1px solid #245441;
}

.form-control:focus {
  border: 1px solid #245441;
  box-shadow: 0px 0px 0px 3px #BBD7E9;
}

/*BODY*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F2;
}
body ul {
  list-style: none;
  align-items: left;
  padding: 0px;
  margin-bottom: 0px;
}
body ul li {
  align-items: center;
  column-gap: 0.5rem;
  padding-top: 0.5rem;
}

/*HEADER*/
.navbar {
  background-color: #F5F5F2;
}
.navbar ul {
  list-style: none;
  align-items: left;
  margin-bottom: 0px;
}
.navbar ul li {
  column-gap: 0.5rem;
  padding-top: 0.5rem;
}

/*MAIN*/
main .title {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
main .title h1 {
  text-align: center;
  color: #245441;
}
main .herosection {
  display: grid;
  height: 100vh;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("../img/bgimg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 4px solid #BBD7E9;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 24px 24px;
  grid-auto-flow: row;
  grid-template-areas: "herosectionText herosectionImage";
}
@media (max-width: 576px) {
  main .herosection {
    height: auto;
    background-image: none;
    padding-top: 6rem;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: "herosectionText" "herosectionImage";
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  main .herosection {
    height: auto;
    background-image: none;
    padding-top: 6rem;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: "herosectionText" "herosectionImage";
  }
}
main .herosectionText {
  grid-area: herosectionText;
  align-items: center;
  row-gap: 2rem;
}
main .herosectionText h1 {
  color: #245441;
}
main .herosectionText h5 {
  color: #245441;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
main .herosectionImage {
  grid-area: herosectionImage;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .herosectionImage img {
  width: 100%;
}
main .blog {
  display: grid;
  padding-left: 5%;
  padding-right: 5%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 1.5rem 1.5rem;
  grid-auto-flow: row;
  grid-template-areas: "aside blogContent";
}
@media (max-width: 576px) {
  main .blog {
    grid-template-columns: 4fr;
    grid-template-areas: "blogContent";
  }
  main .blog .blogContent {
    width: 100%;
  }
  main .blog .blogContent p {
    width: 100%;
  }
  main .blog .blogContent h4 {
    width: 100%;
  }
  main .blog .aside {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  main .blog {
    grid-template-columns: 4fr;
    grid-template-areas: "blogContent";
  }
  main .blog .blogContent {
    width: 100%;
  }
  main .blog .blogContent p {
    width: 100%;
  }
  main .blog .blogContent h4 {
    width: 100%;
  }
  main .blog .aside {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .blog {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "aside blogContent";
  }
  .blog .blogContent {
    width: 100%;
  }
  .blog .blogContent p {
    width: 80%;
  }
  .blog .blogContent h4 {
    width: 80%;
  }
  .blog .aside {
    display: none;
  }
}
.aside {
  grid-area: aside;
  overflow: visible;
}
.aside .menuAside {
  position: sticky;
  top: 6rem;
  padding-bottom: 3rem;
}

.blogContent {
  grid-area: blogContent;
  margin-bottom: 3rem;
}
.blogContent .quote {
  color: #245441;
  padding-bottom: 4rem;
}
.blogContent p {
  width: 60%;
  padding-bottom: 1rem;
  color: #221F20;
}
.blogContent h4 {
  width: 60%;
  color: #245441;
  padding-top: 6rem;
  padding-bottom: 2rem;
}
.blogContent .carousel-inner {
  border: 2px solid #245441;
  border-radius: 4px;
  overflow: hidden;
}
.blogContent .cardtxt {
  background-color: #BBD7E9;
  padding: 8px 16px 8px 16px;
  margin-bottom: 1rem;
  border: 1px solid #245441;
  border-radius: 4px;
  color: #245441;
}
.blogContent .cardtxtimportant {
  background-color: #245441;
  padding: 8px 16px 8px 16px;
  margin-bottom: 1rem;
  border: 1px solid #BBD7E9;
  border-radius: 4px;
  color: #F5F5F2;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  gap: 24px 24px;
  margin-top: 1.5rem;
  margin-bottom: 4.5rem;
}
.team .integrante {
  display: grid;
  width: 100%;
  background-color: #F5F5F2;
  padding: 1rem;
  border: 2px solid #245441;
  border-radius: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto 1fr auto auto;
  gap: 0px 24px;
  grid-auto-flow: row;
  grid-template-areas: "integrantePerfil space space" "integranteNombre integranteNombre integranteNombre" "integranteTitulo integranteTitulo integranteTitulo" "line1 line1 line1" "integranteDescription integranteDescription integranteDescription" "line2 line2 line2" "integranteContact integranteContact integranteCV";
}
@media (max-width: 576px) {
  .team .integrante {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .team .integrante {
    width: 45%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .team .integrante {
    width: 45%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .team .integrante {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .team .integrante {
    width: 30%;
  }
}
.team .integrantePerfil {
  grid-area: integrantePerfil;
}
.team .integrantePerfil .imgperfil {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 0.5rem;
  border: 1px solid #245441;
  border-radius: 100%;
  filter: grayscale(100%);
}
.team .space {
  grid-area: space;
}
.team .integranteNombre {
  grid-area: integranteNombre;
}
.team .integranteTitulo {
  grid-area: integranteTitulo;
}
.team .line1 {
  grid-area: line1;
}
.team .integranteDescription {
  grid-area: integranteDescription;
  align-self: stretch;
}
.team .line2 {
  grid-area: line2;
}
.team .integranteContact {
  grid-area: integranteContact;
}
.team .integranteCV {
  grid-area: integranteCV;
  text-align: right;
}

.seccionEstudiantes {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  width: 100%;
  border-top: 4px solid #245441;
  border-radius: 1rem 1rem 0rem 0rem;
  margin-top: 1.5rem;
  background-color: #BBD7E9;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 24px 24px;
  grid-auto-flow: row;
  grid-template-areas: "estudiantesTitle estudiantesTitle estudiantesTitle" "estudiantesTexto listadoEstudiantes listadoEstudiantes" "estudiantesTexto listadoEstudiantes listadoEstudiantes";
}

@media (max-width: 576px) {
  .seccionEstudiantes {
    grid-template-areas: "estudiantesTitle estudiantesTitle estudiantesTitle" "estudiantesTexto estudiantesTexto estudiantesTexto" "listadoEstudiantes listadoEstudiantes listadoEstudiantes";
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .seccionEstudiantes {
    grid-template-areas: "estudiantesTitle estudiantesTitle estudiantesTitle" "estudiantesTexto estudiantesTexto estudiantesTexto" "listadoEstudiantes listadoEstudiantes listadoEstudiantes";
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .seccionEstudiantes {
    grid-template-areas: "estudiantesTitle estudiantesTitle estudiantesTitle" "estudiantesTexto estudiantesTexto space" "listadoEstudiantes listadoEstudiantes listadoEstudiantes";
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .seccionEstudiantes {
    grid-template-areas: "estudiantesTitle estudiantesTitle estudiantesTitle" "estudiantesTexto listadoEstudiantes listadoEstudiantes" "estudiantesTexto listadoEstudiantes listadoEstudiantes";
  }
}
@media (min-width: 1200px) {
  .seccionEstudiantes {
    grid-template-areas: "estudiantesTitle estudiantesTitle estudiantesTitle" "estudiantesTexto listadoEstudiantes listadoEstudiantes" "estudiantesTexto listadoEstudiantes listadoEstudiantes";
  }
}
.seccionEstudiantesTitle {
  grid-area: estudiantesTitle;
}
.seccionEstudiantesTitle h2 {
  color: #245441;
  margin-bottom: 3rem;
}

.seccionEstudiantesTexto {
  grid-area: estudiantesTexto;
}
.seccionEstudiantesTexto p {
  color: #245441;
  padding-bottom: 3rem;
}

.listadoEstudiantes {
  grid-area: listadoEstudiantes;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 24px 24px;
}

.estudiante {
  display: grid;
  width: 45%;
  background-color: #F5F5F2;
  padding: 1rem;
  border: 1px solid #245441;
  border-radius: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 0px 24px;
  grid-auto-flow: row;
  grid-template-areas: "estudiantePerfil space space" "estudianteNombre estudianteNombre estudianteNombre" "estudianteTitulo estudianteTitulo estudianteTitulo" "line3 line3 line3" "estudianteContact estudianteContact estudianteCV";
  grid-area: estudiante;
}

@media (max-width: 576px) {
  .estudiante {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .estudiante {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .estudiante {
    width: 45%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .estudiante {
    width: 45%;
  }
}
@media (min-width: 1200px) {
  .estudiante {
    width: 45%;
  }
}
.estudiantePerfil {
  grid-area: estudiantePerfil;
}
.estudiantePerfil .imgPerfilEstudiante {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 0.5rem;
  border: 1px solid #245441;
  border-radius: 100%;
  filter: grayscale(100%);
}

.space {
  grid-area: space;
}

.estudianteNombre {
  grid-area: estudianteNombre;
}
.estudianteNombre h4 {
  color: #245441;
}

.estudianteTitulo {
  grid-area: estudianteTitulo;
}
.estudianteTitulo p {
  color: #245441;
}

.line3 {
  grid-area: line3;
}
.line3 hr {
  color: #245441;
  border-width: 2px;
}

.estudianteContact {
  grid-area: estudianteContact;
}
.estudianteContact a {
  color: #245441;
}

.estudianteCV {
  grid-area: estudianteCV;
  text-align: right;
}
.estudianteCV a {
  color: #245441;
}

.seccionForm {
  display: grid;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 3rem;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 24px 24px;
  grid-auto-flow: row;
  grid-template-areas: "formText form";
}

@media (max-width: 576px) {
  .seccionForm {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-template-areas: "formText" "form";
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .seccionForm {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-template-areas: "formText" "form";
  }
}
.form {
  grid-area: form;
  padding: 1.5rem;
  border: 1px solid #245441;
  border-radius: 2px;
}

.formText {
  grid-area: formText;
}

/*FOOTER*/
.footer {
  display: grid;
  align-items: stretch;
  background-color: #245441;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  gap: 3rem 3rem;
  grid-auto-flow: row;
  grid-template-areas: "footerTitle footerTitle footerTitle" "footerA footerB footerC" "footerD footerD footerD";
}

@media (max-width: 576px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-auto-columns: 1fr;
    gap: 3rem 3rem;
    grid-auto-flow: row;
    grid-template-areas: "footerTitle" "footerA" "footerB" "footerC" "footerD";
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-auto-columns: 1fr;
    gap: 3rem 3rem;
    grid-auto-flow: row;
    grid-template-areas: "footerTitle footerTitle" "footerA footerA" "footerB footerC" "footerD footerD";
  }
}
.footerTitle {
  grid-area: footerTitle;
}
.footerTitle .logo {
  color: #F5F5F2;
}

.footerA {
  grid-area: footerA;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.footerA p {
  color: #F5F5F2;
}
.footerA h5 {
  color: #F5F5F2;
}

@media (max-width: 576px) {
  .footerA {
    border-bottom: 1px solid #F5F5F2;
    padding-bottom: 3rem;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .footerA {
    border-bottom: 1px solid #F5F5F2;
    padding-bottom: 3rem;
  }
}
.footerB {
  grid-area: footerB;
  padding-left: 1.5rem;
  border-left: 1px solid #F5F5F2;
}
.footerB p {
  color: #F5F5F2;
  margin-bottom: 1.5rem;
}
.footerB a {
  color: #F5F5F2;
}

@media (max-width: 576px) {
  .footerB {
    padding-left: 0%;
    border-left: 0px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .footerB {
    padding-left: 0%;
    border-left: 0px;
  }
}
.footerC {
  grid-area: footerC;
  padding-left: 1.5rem;
  border-left: 1px solid #F5F5F2;
}
.footerC p {
  color: #F5F5F2;
  margin-bottom: 1.5rem;
}
.footerC a {
  color: #F5F5F2;
}
.footerC i {
  color: #F5F5F2;
}

@media (max-width: 576px) {
  .footerC {
    padding-left: 0%;
    border-left: 0px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .footerC {
    padding-left: 0%;
    border-left: 0px;
  }
}
.footerD {
  grid-area: footerD;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  border-top: 1px solid #F5F5F2;
  padding-top: 3rem;
}
.footerD img {
  height: 3rem;
  color: #F5F5F2;
}

/*# sourceMappingURL=style.css.map */
