/*COMPONENTS*/

/*BUTTONS*/

.buttonPrimary {
    background-color: $primary;
    color: $secondary;
    border: 1px solid $primary;
    padding: $padding-sm $padding-md;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}

.buttonPrimary:hover {
    background-color: $secondary;
    color: $primary;
    border: 1px solid $primary;
    transform: translateY(-2px);
}

.buttonPrimary:active {
    transform: translateY(2px) scale(0.98);
}

.buttonSecondary {
    background-color: $white;
    color: $primary;
    border: 1px solid $primary;
    padding: $padding-sm $padding-md;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}

.buttonSecondary:hover {
    background-color: $tertiary;
    color: $black;
    border: 1px solid $black;
    transform: translateY(-2px);
}

.buttonSecondary:active {
    transform: translateY(2px) scale(0.98);
}

#backToTop {
    position: fixed; 
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: $background;
    color: $primary;
    border: 1px solid $primary;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    z-index: 1000;
    transition: background-color 0.3s ease, transform 0.1s ease;
}
  
#backToTop:hover {
    background-color: $secondary;
    transform: translateY(-2px);
}

#backToTop:active {
    transform: translateY(2px) scale(0.98);
}

.buttonAccion {
    background-color: $primary;
    color: $secondary;
    border: 1px solid $primary;
    padding: $padding-sm $padding-md;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
}

.buttonAccion:hover {
    background-color: $secondary;
    color: $primary;
    border: 1px solid $primary;
    transform: translateY(-2px);
}

.buttonAccion:active {
    transform: translateY(2px) scale(0.98);
}

//*FORM CONTROL*//

.form-control {
    background-color: $white;
    border: 1px solid $primary;
    border-radius: 2px;
}
.form-control:hover {
    background-color: $tertiary;
    border: 1px solid $primary;
}
.form-control:focus {
    border: 1px solid $primary;
    box-shadow: 0px 0px 0px 3px $secondary;
}

//*CAROUSEL LARGE*//

.carousel_large {

    padding: $padding-xl;

    .carousel-inner {
        border: 2px solid $green;
        border-radius: 4px;
        overflow: hidden;
    }
}



