/*TYPOGRAPHY*/

.logo {
  font-family: "Platypi", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 110%;
  color: $primary;
}

.caption {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 120%;
  font-variant: small-caps;
  color: $black;
  text-align: left;
}

.pieImg {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 120%;
  color: $black;
  text-align: left;
  margin-top: 0.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 150%;
  color: $black;
  text-align: left;
  margin-bottom: 0%;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  line-height: 120%;
}

h5 {
  font-family: "Platypi", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 120%;
}

:root {
  --h1-size: 5rem;
  --h2-size: 4rem;
  --h3-size: 3.25rem;
  --h4-size: 2rem;
}

@media (max-width: 767.98px) {
  :root {
    --h1-size: 4rem;
    --h2-size: 2rem;
    --h3-size: 2.75rem;
    --h4-size: 1.75rem;
  }
}

@media (max-width: 576px) {
  :root {
    --h1-size: 3.5rem;
    --h2-size: 2rem; /* Se mantiene, según tu configuración */
    --h3-size: 2.5rem;
    --h4-size: 1.5rem;
  }
}

h1 {
  font-family: "Platypi", sans-serif;
  font-weight: 200;
  font-size: var(--h1-size);
  line-height: 105%;
  color: $black;
}

h2 {
  font-family: "Platypi", sans-serif;
  font-weight: 300;
  font-size: var(--h2-size);
  line-height: 110%;
  color: $black;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: var(--h3-size);
  line-height: 120%;
}

h4 {
  font-family: "Platypi", sans-serif;
  font-weight: 600;
  font-size: var(--h4-size);
  line-height: 120%;
}


.quote {
  font-family: "Platypi", sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 1.5rem;
  line-height: 150%;
  text-align: center;
  color: $primary;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: $primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-decoration-skip-ink: ink spaces; 
    text-decoration-thickness: 2px;
    text-decoration-color: $primary;
    text-underline-offset: 0.25rem;
  }
  &:active {
    text-decoration: underline;
    text-decoration-skip-ink: ink spaces; 
    text-decoration-thickness: 6px;
    text-decoration-color: $secondary;
    text-underline-offset: 0rem;
  }
}
.aActive {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 120%;
  color: $primary;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 6px;
  text-decoration-color: $secondary;
  text-underline-offset: 0rem;
} 

.strong {
  font-weight: 800;
}

span {
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-decoration-color: $secondary;
  text-decoration-skip-ink: none;
}

/*ICONS*/

i {
  color: $primary;
  &:hover {
    font-weight: 700;
  }
}